<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Fluye UI</title>

  <!-- Stylesheets -->
  <link href="{{ site.baseurl }}/assets/css/fly-auth.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition auth__page">

<!--Auth box-->
<div class="auth__box">

  <div class="auth__logo">
    <a href="{{ site.baseurl }}"><strong>Fluye</strong></a>
  </div>

  <!--Auth body-->
  <div class="auth__body">
    {{ content }}
  </div>
  <!-- // Auth body -->

</div>
<!-- // Auth box -->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ site.baseurl }}/assets/js/fluye-core.js"></script>

</body>
</html>
