<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Fluye UI</title>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- Fluye core CSS -->
  <link href="{{ site.baseurl }}/assets/css/fly-app.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Favicons -->
  <!--<link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">-->
  <!--<link rel="icon" href="{{ site.baseurl }}/favicon.ico">-->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{{ site.baseurl }}/assets/js/button.js"></script>
  <script src="{{ site.baseurl }}/assets/js/collapse.js"></script>
  <script src="{{ site.baseurl }}/assets/js/dropdown.js"></script>
  <script src="{{ site.baseurl }}/assets/js/transition.js"></script>
  <script src="{{ site.baseurl }}/assets/js/modal.js"></script>
  <script src="{{ site.baseurl }}/assets/js/alert.js"></script>
  <script src="{{ site.baseurl }}/assets/js/fluye-core.js"></script>
  <script src="{{ site.baseurl }}/assets/js/fluye-app.js"></script>

</head>
<body class="hold-transition sidebar-mini">

<div class="wrapper">

  <!--Header-->
  <header class="header">

    {% include header.html %}

  </header>
  <!--// Header-->


  <!--Sidebar-->
  <aside class="sidebar">
    {% include sidebar.html %}
  </aside>
  <!--// Sidebar-->


  <!-- Content wrapper -->
  <div class="content-wrapper">
    {{ content }}
  </div>
  <!-- // Content wrapper -->

  <!--Footer-->
  <footer class="footer">
    {% include footer.html %}
  </footer>
  <!-- // Footer-->

</div>


</body>
</html>
