<!-- Logo -->
<a href="{{ site.baseurl }}" class="header__logo">
  <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="header__logo--mini">
        <img src="{{ site.baseurl }}/assets/img/fly-logo-inverse.svg" alt="logo fluye" height="20" width="20" />
      </span>
  <!-- logo for regular state and mobile devices -->
      <span class="header__logo--large">
        <img src="{{ site.baseurl }}/assets/img/fly-logo-inverse.svg" alt="logo fluye" height="30" width="30" />
      </span>
</a>
<!-- // Logo-->

<!-- Header Navbar -->
<nav class="navbar navbar--static-top header__navbar" role="navigation">

  <a href="#" class="header__sidebar-toggle" data-toggle="offcanvas" role="button">
    <span class="sr-only">Toggle navigation</span>
  </a>

  <ul class="nav navbar__nav">
    <!-- User Account: style can be found in dropdown.less -->
    <li class="dropdown profile-menu">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
         aria-expanded="true">
        <img src="{{ site.baseurl }}/assets/img/user1-128x128.jpg" class="profile-menu__image" alt="User Image">
        <span class="hidden-xs">Username</span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="user-options-menu">
        <li><a href="#">Profile</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Cerrar sesión</a></li>
      </ul>
    </li>
  </ul>
</nav>
<!-- // Header Navbar -->
