{% if page.url contains slug %}
  {% assign active = 'active' %}
{% endif %}


<ul class="sidebar__menu">

  <li class="sidebar__menu-item {{ active }}">
    <a href="{{ site.baseurl }}/index.html">
      <i class="fa fa-asterisk" aria-hidden="true"></i>
      <span>Get started</span>
    </a>
  </li>

  <li class="sidebar__menu-item treeview">
    <a href="{{ site.baseurl }}/fundamental">
      <i class="fa fa-asterisk" aria-hidden="true"></i>
      <span>Fundamental UI</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">

      <li>
        <a href="{{ site.baseurl }}/fundamental/#containers">
          <i class="fa fa-circle-o"></i>
          Containers
        </a>
      </li>

      <li>
        <a href="{{ site.baseurl }}/fundamental/#typography">
          <i class="fa fa-circle-o"></i>
          Typography
        </a>
      </li>

      <li>
        <a href="{{ site.baseurl }}/fundamental/#forms">
          <i class="fa fa-circle-o"></i>
          Forms
        </a>
      </li>

      <li>
        <a href="{{ site.baseurl }}/fundamental/#buttons">
          <i class="fa fa-circle-o"></i>
          Buttons
        </a>
      </li>

      <li>
        <a href="{{ site.baseurl }}/fundamental/#table">
          <i class="fa fa-circle-o"></i>
          Table
        </a>
      </li>

    </ul>
  </li>

  <li class="sidebar__menu-item treeview">
    <a href="{{ site.baseurl }}/specific">
      <i class="fa fa-asterisk" aria-hidden="true"></i>
      <span>Especific UI</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li>
        <a href="{{ site.baseurl }}/specific/#alerts">
          <i class="fa fa-circle-o"></i>
          Alerts
        </a>
      </li>
    </ul>
  </li>

  <li class="sidebar__menu-item treeview">
    <a href="{{ site.baseurl }}/dynamic">
      <i class="fa fa-asterisk" aria-hidden="true"></i>
      <span>Dynamic UI</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li>
        <a href="{{ site.baseurl }}/dynamic/#buttons">
          <i class="fa fa-circle-o"></i>
          Buttons
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/dynamic/#modal">
          <i class="fa fa-circle-o"></i>
          Modals
        </a>
      </li>
    </ul>
  </li>

  <li class="sidebar__menu-item treeview">
    <a href="#">
      <i class="fa fa-asterisk" aria-hidden="true"></i>
      <span>Marketing page</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li>
        <a href="{{ site.baseurl }}/marketing/home1.html">
          <i class="fa fa-circle-o"></i>
          Video cover landing
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/marketing/landing-one.html">
          <i class="fa fa-circle-o"></i>
          Landing one
        </a>
      </li>
    </ul>
  </li>

  <li class="sidebar__menu-item {{ active }}">
    <a href="{{ site.baseurl }}/signin.html">
      <i class="fa fa-asterisk" aria-hidden="true"></i>
      <span>Sign in page</span>
    </a>
  </li>

  <li class="sidebar__menu-item {{ active }}">
    <a href="{{ site.baseurl }}/signup.html">
      <i class="fa fa-asterisk" aria-hidden="true"></i>
      <span>Sign up page</span>
    </a>
  </li>

  <li class="sidebar__menu-item {{ active }}">
    <a href="{{ site.baseurl }}/page-load-progress.html">
      <i class="fa fa-asterisk" aria-hidden="true"></i>
      <span>Page load progress</span>
    </a>
  </li>


</ul>
