---
layout: dashboard
title: Dynamic UI
---

<div class="page">


  <section class="page__body">

    <section id="buttons">
      {% include dynamic/buttons.html %}
    </section>

    <section id="modal">
      {% include dynamic/modal.html %}
    </section>


  </section>

</div>
