<h1>Buttons</h1>

<p class="lead">Do more with buttons. Control button states or create groups of buttons for more components like toolbars.</p>

<h2>Stateful</h2>

<button type="button" id="loading-example-button" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off"> Loading state </button>

<script type="application/javascript">

  $(document).ready(function(){
    $('#loading-example-button').on('click', function () {
      var $btn = $(this).button('loading');

      setTimeout(function() {
        $btn.button("reset");
      }, 1000);

    });
  });

</script>
