---
layout: marketing
title: marketing one
---

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Fluye</h3>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Crea tu negocio online en minutos.</h1>
        <p class="lead">Fluye es la herramienta que te brinda la oportunidad de crecer en internet, gana mientras
          duermes, empieza ahora.</p>
        <p class="lead">
          <a href="../signup.html" class="btn btn-lg btn-primary">Empezar</a>
        </p>
        <a style="color: white;text-decoration: underline;" href="../signin.html">Ya tienes una
          cuenta?</a>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <span> Fluye © 2016</span>
        </div>
      </div>

    </div>

  </div>

</div>
