---
layout: none
title: Fluye docs
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Fluye</title>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin-ext" rel="stylesheet">

  <!-- Stylesheets -->
  <link href="{{ site.baseurl }}/assets/css/fly-mkt.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body class="page-home">

  <!-- Navigation:
    Fix navbar with logo image at left.
  -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="{{ site.baseurl}}/assets/img/fly-logo.svg" alt="Fluye logo" width="25"
                                              height="25"/></a>
      </div>

      <!-- nav-collapse -->
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#section-benefits">Beneficios</a></li>
          <li><a href="#section-features">Características</a></li>
          <li><a href="#section-pricing">Precios</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
  <!--/. Navigation -->

  <!--Featured section-->
  <section class="page-home__first">
    <div class="container marketing-block">

      <div class="row">

        <!--Heading section-->
        <div class="col-sm-6 col-xs-12">
          <div class="section-heading">
            <h1 class="section-heading__headline">Crea tu sitio web en minutos</h1>

            <p class="section-heading__subheadline">Crece en internet, gana mientras duermes, empieza ahora</p>

            <div class="section-heading__action">
              <a class="btn btn-primary btn-lg" href="#" role="button">Empezar ahora</a>
            </div>
          </div>
        </div>
        <!--/ Heading section-->

        <!--Gallery section-->
        <div class="col-sm-6 col-xs-12">

          <div class="gallery-wrapper">
            <div class="carousel slide" data-ride="carousel" data-interval="2500">
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img alt="electrónicos" src="{{ site.baseurl }}/assets/img/camera-pic-cover-thumb.jpeg">
                </div>
                <div class="item">
                  <img alt="cafetería"
                       src=" {{ site.baseurl}}/assets/img/coffee-cup-pic-cover-thumb.jpeg">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/. Gallery section-->
      </div>
    </div>
    </div>
  </section>
  <!--/. Featured section-->

  <!--Featured message section-->
  <section class="page-home__featured-message">
    <p>Proin vel ultrices sem, non vestibulum magna. Aliquam euismod placerat nibh eget lacinia.
      <strong>Curabitur</strong> et dui non nisl aliquet consequat egestas et odio. </p>
  </section>
  <!--/. Featured message section-->

  <!--Benefits section-->
  <section id="section-benefits" class="page-home__benefits">
    <div class="container">
      <h2 class="page-home__benefits-headline">Vestibulum finibus scelerisque cursus. Aliquam sed metus dictum, <strong>congue
        mauris</strong> interdum, suscipit leo.</h2>

      <div class="row">

        <div class="page-home__benefit col-lg-4">
          <img src="https://1enu9c17f1aj3pmqfi35l21c-wpengine.netdna-ssl.com/wp-content/uploads/2016/04/main-icons-18.png"
               alt="Generic placeholder image" width="100" height="100">

          <h2>Heading</h2>

          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
            vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus
            magna.</p>

        </div>

        <div class="page-home__benefit col-lg-4">
          <img src="https://1enu9c17f1aj3pmqfi35l21c-wpengine.netdna-ssl.com/wp-content/uploads/2016/04/main-icons-19.png"
               alt="Generic placeholder image" width="100" height="100">

          <h2>Heading</h2>

          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis
            consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
            nibh.</p>

        </div>

        <div class="page-home__benefit col-lg-4">
          <img src="https://1enu9c17f1aj3pmqfi35l21c-wpengine.netdna-ssl.com/wp-content/uploads/2016/04/main-icons-20.png"
               alt="Generic placeholder image" width="100" height="100">

          <h2>Heading</h2>

          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
            felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
            massa justo sit amet risus.</p>

        </div>

      </div>
    </div>
  </section>
  <!--/. Benefits section-->


  <!--Features section-->
  <section id="section-features" class="page-home__features">
    <div class="container">

      <div class="page-home__features-heading">
        <h2 class="page-home__features-headline">Características</h2>

        <p class="page-home__features-subheadline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="row">

        <div class="col-lg-4">
          <div class="page-home__feature">

            <img width="64" height="64"
                 src="https://1enu9c17f1aj3pmqfi35l21c-wpengine.netdna-ssl.com/wp-content/uploads/2016/04/main-icons-17.png">

            <h4>Heading</h4>

            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
              vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus
              magna.</p>
          </div>

        </div>

        <div class="col-lg-4">
          <div class="page-home__feature">
            <img width="64" height="64"
                 src="https://1enu9c17f1aj3pmqfi35l21c-wpengine.netdna-ssl.com/wp-content/uploads/2016/04/main-icons-16-1.png">
            <h4>Heading</h4>

            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras
              mattis
              consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
              nibh.</p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="page-home__feature">
            <img width="64" height="64"
                 src="https://1enu9c17f1aj3pmqfi35l21c-wpengine.netdna-ssl.com/wp-content/uploads/2016/04/main-icons-15.png">
            <h4>Heading</h4>

            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
              felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
              fermen.</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!--/. Features section-->


  <!--Pricing section-->
  <section id="section-pricing" class="page-home__pricing">

    <div class="container">

      <h2 class="page-home__pricing-headline">Un precio flexible para ti</h2>

      <div class="row">

        <div class="col-lg-4">
          <div class="pricing-plan">
            <div class="pricing-plan__type">básico</div>
            <div class="pricing-plan__price">
              <span class="pricing-plan__currency">S/.</span>
              <span class="pricing-plan__amount">29.90</span>
              <span class="pricing-plan__period">/mes</span>
            </div>
            <p class="pricing-plan__description">
              Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
            </p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="pricing-plan">
            <div class="pricing-plan__type">plata</div>
            <div class="pricing-plan__price">
              <span class="pricing-plan__currency">S/.</span>
              <span class="pricing-plan__amount">99.90</span>
              <span class="pricing-plan__period">/mes</span>
            </div>
            <p class="pricing-plan__description">
              Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
            </p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="pricing-plan">
            <div class="pricing-plan__type">oro</div>
            <div class="pricing-plan__price">
              <span class="pricing-plan__currency">S/.</span>
              <span class="pricing-plan__amount">149.90</span>
              <span class="pricing-plan__period">/mes</span>
            </div>
            <p class="pricing-plan__description">
              Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="page-home__pricing-start">
          <div class="col-xs-12">
            <h3>Empieza tu periodo de prueba hoy</h3>

            <p class="lead">Cada cuenta creada tiene acceso a todas las funcionalidades del plan seleccionado.</p>
          </div>
          <div class="col-xs-12">
            <a href="#" class="btn btn-default btn-lg">Empezar ahora</a>

          </div>
        </div>
      </div>

    </div>
  </section>
  <!--/. Pricing section-->


  <!--Footer-->
  <footer class="home-page__footer">

    <p>© 2016 Fluye</p>

    <p><a href="#">Políticas de privacidad</a> – <a href="#">Términos y uso del servicio</a></p>
  </footer>
  <!--/. Footer-->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ site.baseurl }}/assets/js/button.js"></script>
<script src="{{ site.baseurl }}/assets/js/collapse.js"></script>
<script src="{{ site.baseurl }}/assets/js/dropdown.js"></script>
<script src="{{ site.baseurl }}/assets/js/transition.js"></script>
<script src="{{ site.baseurl }}/assets/js/modal.js"></script>
<script src="{{ site.baseurl }}/assets/js/alert.js"></script>
<script src="{{ site.baseurl }}/assets/js/carousel.js"></script>


</body>
</html>
