---
layout: dashboard
title: Fundamental UI
---

<div class="page">


  <section class="page__body">

    <section id="containers">
      {% include fundamental/containers.html %}
    </section>

    <section id="typography">
      {% include fundamental/typo.html %}
    </section>

    <section id="forms">
      {% include fundamental/forms.html %}
    </section>

    <section id="buttons">
      {% include fundamental/buttons.html %}
    </section>

    <section id="table">
      {% include fundamental/table.html %}
    </section>


  </section>

</div>
