/*
 * Auth page
 * ----------------------
 */

.auth__logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
}
.auth__logo a {
  color: #444;
}
.auth__page {
  background: #d2d6de;
}
.auth__box {
  width: 360px;
  margin: 7% auto;
}
@media (max-width: 768px) {
  .auth__box {
    width: 90%;
    margin-top: 20px;
  }
}
.auth__body {
  background: #fff;
  padding: 20px;
  border-top: 0;
  color: #666;
}
.auth__body .form-control-feedback {
  color: #777;
}
.auth__message {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}
