
@import "../../../vendor/bootstrap-sass/assets/stylesheets/bootstrap/buttons";

.btn-default-outline {
  @include button-outline-variant($btn-default-color);
}

.btn-primary-outline {
  @include button-outline-variant($btn-primary-bg);
}

.btn-success-outline {
  @include button-outline-variant($btn-success-bg);
}

.btn-info-outline {
  @include button-outline-variant($btn-info-bg);
}

.btn-warning-outline {
  @include button-outline-variant($btn-warning-bg);
}

.btn-danger-outline {
  @include button-outline-variant($btn-danger-bg);
}

.btn-pill {
  padding-left: 1.25em;
  padding-right: 1.25em;
  border-radius: 1000em;
}
