
// Box component

.box {
  position: relative;
  @include border-radius-all($box-border-radius);
  background: #ffffff;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: $box-boxshadow;
  &--aside {
    background-color: #f5f6f7;
  }
}

//Add clearfix to header, body and footer
.box__header,
.box__body,
.box__footer {
  @include clearfix();
}

.box__header {
  color: #444;
  display: block;
  padding: $box-padding;
  position: relative
}

.box__title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
  font-weight: bold;
}


.box__body {
  @include border-top-radius(0);
  @include border-bottom-radius($box-border-radius);
  padding: $box-padding;
}

.box__footer {
  @include border-top-radius(0);
  @include border-bottom-radius($box-border-radius);

  border-top: 1px solid $box-border-color;
  padding: $box-padding;
  background-color: $box-footer-bg;
}

