// header


.header {
  position: relative;
  max-height: 100px;
  z-index: 1030;
}

.header__logo {
  float: left;
  width: 230px;
  height: 50px;
  padding: 0 15px;
  display: block;

  border-bottom: 0 solid transparent;
  background-color: $navbar-dashboard-logo-bg;

  color: #fff;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  font-weight: 300;

  overflow: hidden;
  -webkit-transition: width .3s ease-in-out;
  -o-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;


  @media (max-width: $screen-sm) {
    width: 100%;
    float:none;
  }
}

.header__logo--mini {
  display: none;
}

.header__logo--large {
  display: block;
}

