//
// Navbars
// --------------------------------------------------


// Wrapper and base class
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
  position: rela  tive;
  min-height: $navbar-height; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
  margin-bottom: $navbar-margin-bottom;
  border: 1px solid transparent;

  // Prevent floats from breaking the navbar
  @include clearfix();

  @media (min-width: $grid-float-breakpoint) {
    border-radius: $navbar-border-radius;
  }

  a:hover {
    background: rgba(0,0,0,.1);
    color: #f6f6f6;
  }
}

.navbar--static-top {
  z-index: 1000;
  border-width: 0 0 1px;
  @media (min-width: $grid-float-breakpoint) {
    border-radius: 0;
  }
}

.header__navbar {
  margin-bottom: 0;
  margin-left: 230px;
  min-height: 50px;

  border-radius: 0;
  border: none;
  background-color: $navbar-dashboard-bg;

  -webkit-transition: margin-left 0.3s ease-in-out;
  -o-transition: margin-left 0.3s ease-in-out;
  transition: margin-left 0.3s ease-in-out;

  @media (max-width: $screen-sm) {
    margin: 0;
    width: 100%;
    float:none;
  }


}

.header__sidebar-toggle {
  float: left;
  background: transparent none;
  padding: $navbar-padding-vertical $navbar-padding-horizontal;
  font-family: fontAwesome;
  color: #fff;

  &:before {
    content: "\f0c9";
  }
  &:hover {
    background-color: darken($light-blue, 5%);
    color: #fff;
  }
  &:focus,
  &:active {
    background: transparent;
  }

  .icon-bar {
    display: none;
  }

}

.navbar__nav {
  float: right;
  margin: 7.5px -15px;
  @media (min-width: $screen-md) {
    margin: 0;
  }

  @media (min-width: $screen-xs) {
    margin: 0;
  }

  & > li > a {
    color: #fff;

    @media (min-width: $screen-sm) {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}


.profile-menu {

  a:hover, a:active, a:focus {
    background: rgba(0,0,0,0.1) !important;
  }

  &__image{
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
  }

}
