/*
 * Component: Sidebar
 * ------------------
 */
//Main Sidebar
// ``` .left-side has been deprecated as of 2.0.0 in favor of .main-sidebar ```

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  padding-bottom: 10px;
  min-height: 100%;
  width: $sidebar-width;
  background-color: $sidebar-dark-bg;
  z-index: 810;
  //Using disposable variable to join statements with a comma
  $transition-rule: $transition-speed $transition-fn, $transition-speed $transition-fn;
  @include transition-transform($transition-rule);
  @media (max-width: $screen-header-collapse) {
    padding-top: 100px;
  }
  @media (max-width: $screen-xs-max) {
    @include translate(-$sidebar-width, 0);
  }
  .sidebar-collapse & {
    @media (min-width: $screen-sm) {
      @include translate(-$sidebar-width, 0);
    }
  }
  .sidebar-open & {
    @media (max-width: $screen-xs-max) {
      @include translate(0, 0);
    }
  }

  a {
    color: $sidebar-dark-color;
    &:hover {
      text-decoration: none;
    }
  }

}

//The sidebar search form
.sidebar-form {
  @include border-radius-all(3px);
  border: 1px solid lighten($sidebar-dark-bg, 10%);
  margin: 10px 10px;
  // remove border from form
  input:focus {
    border-color: transparent;
  }
  input[type="text"], .btn {
    box-shadow: none;
    background-color: lighten($sidebar-dark-bg, 10%);
    border: 1px solid transparent;
    height: 35px;
    // @include transition(all @transition-speed @transition-fn);
  }
  input[type="text"] {
    color: #666;
    @include border-radius(2px, 0, 2px, 0);
    &:focus,
    &:focus + .input-group-btn .btn {
      background-color: #fff;
      color: #666;
    }
    &:focus + .input-group-btn .btn {
      border-left-color: #fff;

    }
  }
  .btn {
    color: #999;
    @include border-radius(0, 2px, 0, 2px);
  }
}

//Sidebar user panel
.user-panel {
  position: relative;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  @include clearfix();
  > .image > img {
    width: 100%;
    max-width: 45px;
    height: auto;
  }
  > .info {
    padding: 5px 5px 5px 15px;
    line-height: 1;
    position: absolute;
    left: 55px;
    > p {
      font-weight: 600;
      margin-bottom: 9px;
    }
    > a {
      color: #fff;
      text-decoration: none;
      padding-right: 5px;
      margin-top: 3px;
      font-size: 11px;
      > .fa,
      > .ion,
      > .glyphicon {
        margin-right: 3px;
      }
    }
  }
}

// Sidebar menu
.sidebar__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  //First Level
  > li {
    position: relative;
    margin: 0;
    padding: 0;
    > a {
      padding: 12px 5px 12px 15px;
      display: block;
      border-left: 3px solid transparent;
      > .fa,
      > .glyphicon,
      > .ion {
        width: 20px;
      }
    }
    //Hover and active states
    &:hover > a, &.active > a {
      color: $sidebar-dark-hover-color;
      background: $sidebar-dark-hover-bg;
      border-left-color: $light-blue;
    }
    //First Level Submenu
    > .treeview-menu {
      margin: 0 1px;
      background: $sidebar-dark-submenu-bg;
    }
    .label,
    .badge {
      margin-right: 5px;
    }
    .badge {
      margin-top: 3px;
    }
  }
  li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
    color: lighten($sidebar-dark-bg, 20%);
    background: darken($sidebar-dark-bg, 4%);
  }
  li > a > .pull-right-container > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
  }
  li.active {
    > a > .pull-right-container > .fa-angle-left {
      @include rotate(-90deg);
    }
    > .treeview-menu {
      display: block;
    }
  }

  // Tree view menu
  .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px;
    .treeview-menu {
      padding-left: 20px;
    }
    > li {
      margin: 0;
      > a {
        color: $sidebar-dark-submenu-color;
        padding: 5px 5px 5px 15px;
        display: block;
        font-size: 14px;
        > .fa,
        > .glyphicon,
        > .ion {
          width: 20px;
        }
        > .pull-right-container > .fa-angle-left,
        > .fa-angle-down {
          width: auto;
        }
      }
      &.active > a, > a:hover {
        color: $sidebar-dark-submenu-hover-color;
      }
    }
  }
}
