<h1>Buttons</h1>


<div class="box">
  <div class="box__body">

    <h2>Tags</h2>

    <form>
      <a href="#" class="btn btn-default" role="button">Link</a>
      <button class="btn btn-default" type="submit">Button</button>
      <input class="btn btn-default" type="button" value="Input">
      <input class="btn btn-default" type="submit" value="Submit">
    </form>

    <h2>Sizes</h2>

    <p>
      <button type="button" class="btn btn-primary btn-lg">Large button</button>
      <button type="button" class="btn btn-default btn-lg">Large button</button>
    </p>
    <p>
      <button type="button" class="btn btn-primary">Default button</button>
      <button type="button" class="btn btn-default">Default button</button>
    </p>
    <p>
      <button type="button" class="btn btn-primary btn-sm">Small button</button>
      <button type="button" class="btn btn-default btn-sm">Small button</button>
    </p>
    <p>
      <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
      <button type="button" class="btn btn-default btn-xs">Extra small button</button>
    </p>

    <h2>Categories</h2>

    <button type="button" class="btn btn-default">Default</button>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-link">Link</button>


    <h2>Outline</h2>

    <button type="button" class="btn btn-default-outline">Default</button>
    <button type="button" class="btn btn-primary-outline">Primary</button>
    <button type="button" class="btn btn-success-outline">Success</button>
    <button type="button" class="btn btn-info-outline">Info</button>
    <button type="button" class="btn btn-warning-outline">Warning</button>
    <button type="button" class="btn btn-danger-outline">Danger</button>

    <h2>Pill buttons</h2>

    <button type="button" class="btn btn-pill btn-default">Default</button>
    <button type="button" class="btn btn-pill btn-primary">Primary</button>
    <button type="button" class="btn btn-pill btn-success">Success</button>
    <button type="button" class="btn btn-pill btn-info">Info</button>
    <button type="button" class="btn btn-pill btn-warning">Warning</button>
    <button type="button" class="btn btn-pill btn-danger">Danger</button>

  </div>
</div>
