<h1>Containers</h1>

<h2>Simple box</h2>

<div class="box">
  <div class="box__body">
    <p>Box content</p>
  </div>
</div>

<h2>Aside box</h2>

<div class="box box--aside">
  <div class="box__body">
    <p>Box aside content</p>
  </div>
</div>


<h2>Full box</h2>

<div class="box">
  <div class="box__header">
    <h3 class="box-title">Box header text</h3>
  </div>
  <div class="box__body">
    <p>Box body content</p>
  </div>
  <div class="box__footer">
    <p>Box footer content</p>
  </div>
</div>


<h2>Page section wide layout</h2>

<section class="page-section">
  <div class="page-section__content">
    <div class="page-section__content--wide">

      <div class="box">
        <div class="box__body">
          <p>Wide content of page section</p>
        </div>
      </div>

    </div>
  </div>
</section>

<h2>Page section form</h2>

<section class="page-section">
  <div class="page-section__content">
    <div class="page-section__content--primary">

      <div class="box">
        <div class="box__body">
          <p>Primary content of page sectionx</p>
        </div>
      </div>

    </div>
    <div class="page-section__content--secondary">

      <div class="box">
        <div class="box__body">
          <p>Secondary content of page section</p>
        </div>
      </div>

    </div>
  </div>

</section>


<h2>Page section form</h2>

<section class="page-section page-section--form">
  <div class="page-section__content">
    <div class="page-section__content--half">

      <div class="box">
        <div class="box__body">
          <p>Half content of page section</p>
        </div>
      </div>

    </div>
    <div class="page-section__content--half">

      <div class="box">
        <div class="box__body">
          <p>Half content of page section</p>
        </div>
      </div>

    </div>
  </div>
</section>
