<h1>Forms</h1>


<h2>Basic</h2>

<p>Individual form controls automatically receive some global styling. All textual <code>&lt;input&gt;</code>, <code>
  &lt;textarea&gt;</code>, and <code>&lt;select&gt;</code> elements with <code>.form-control</code> are set to <code>width:
  100%;</code> by default. Wrap labels and controls in <code>.form-group</code> for optimum spacing.</p>

<div class="form-group has-feedback">
  <label for="inputtext">Input text</label>
  <input class="form-control" placeholder="Enter your input text" name="name" type="text" value=""
         id="inputtext">
</div>

<div class="form-group">
  <div class="input-group">
    <div class="input-group-addon">$</div>
    <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
    <div class="input-group-addon">.00</div>
  </div>
</div>

<div class="form-group has-feedback">
  <label for="textarea">Text area</label>
  <textarea class="form-control" rows="7" name="description" cols="50" id="textarea"></textarea>
</div>

<label for="file_input">File input</label>
<input name="file_input" type="file" id="file_input">

<div class="checkbox">
  <label>
    <input name="is-published" type="checkbox" value="true">
    Check me out
  </label>
</div>


<h2>Validation states</h2>

<p>Individual form controls automatically receive some global styling. All textual <code>&lt;input&gt;</code>, <code>
  &lt;textarea&gt;</code>, and <code>&lt;select&gt;</code> elements with <code>.form-control</code> are set to <code>width:
  100%;</code> by default. Wrap labels and controls in <code>.form-group</code> for optimum spacing.
</p>

<form>
  <div class="form-group has-success"><label class="control-label" for="inputSuccess1">Input with success</label> <input
    class="form-control" id="inputSuccess1" aria-describedby="helpBlock2"> <span class="help-block" id="helpBlock2">A block of help text that breaks onto a new line and may extend beyond one line.</span>
  </div>
  <div class="form-group has-warning"><label class="control-label" for="inputWarning1">Input with warning</label> <input
    class="form-control" id="inputWarning1"></div>
  <div class="form-group has-error"><label class="control-label" for="inputError1">Input with error</label> <input
    class="form-control" id="inputError1"></div>
  <div class="has-success">
    <div class="checkbox"><label> <input type="checkbox" id="checkboxSuccess" value="option1"> Checkbox with success
    </label></div>
  </div>
  <div class="has-warning">
    <div class="checkbox"><label> <input type="checkbox" id="checkboxWarning" value="option1"> Checkbox with warning
    </label></div>
  </div>
  <div class="has-error">
    <div class="checkbox"><label> <input type="checkbox" id="checkboxError" value="option1"> Checkbox with error
    </label></div>
  </div>
</form>




<h1>Actions section</h1>

<p>Sometimes we put the action buttons on page bottom with .page__footer class like below.</p>

<section class="page__footer">
  <div class="row">
    <div class="col-md-offset-6 col-md-2">
      <a class="btn btn-block btn-default" href="http://fluye.dev/admin/products">Cancelar</a>
    </div>
    <div class="col-md-2">
      <input class="btn btn-block btn-primary" type="submit" value="Guardar producto">
    </div>
  </div>
</section>
