//
// Grid system
// --------------------------------------------------

// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container {
  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}

// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

.container-fluid {
  @include container-fixed;
}

// Row
//
// Rows contain and clear the floats of your columns.

.row {
  @include make-row;
}

// Columns
//
// Common styles for small and large grid columns

@include make-grid-columns;

// Extra small grid
//
// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones.

@include make-grid(xs);

// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

@media (min-width: $screen-sm-min) {
  @include make-grid(sm);
}

// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

@media (min-width: $screen-md-min) {
  @include make-grid(md);
}

// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: $screen-lg-min) {
  @include make-grid(lg);
}

.hold-transition {
  & .content-wrapper, & .header .navbar, & .header__logo, & .footer, & .sidebar {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
  &::before, &::after {
    content: " ";
    display: table;
  }
  &::after {
    clear: both;
  }
}

/* Fixed layout */
.fixed {
  .header,
  .sidebar,
  .left-side {
    position: fixed;
  }
  .header {
    top: 0;
    right: 0;
    left: 0;
  }
  .content-wrapper{
    padding-top: 50px;
    @media (max-width: $screen-header-collapse) {
      padding-top: 100px;
    }
  }
}


/*
 * Content Wrapper - contains the main content
 * ```.right-side has been deprecated as of v2.0.0 in favor of .content-wrapper  ```
 */
.content-wrapper,
.footer {
  -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  margin-left: 230px;
  z-index: 820;
}

@media (max-width: 767px) {
  .content-wrapper,
  .footer {
    margin-left: 0;
  }
}

.content-wrapper {
  min-height: 100%;
  background-color: #ecf0f5;
  z-index: 800;
}

.footer {
  background: #fff;
  padding: 15px;
  color: #444;
  border-top: 1px solid #d2d6de;
}

//Page layout

.content-header, .page__header {
  position: relative;
  padding: 15px 15px 0 15px;
}
.content-header > h1, .page__header > h1 {
  margin: 0;
  font-size: 24px;
}
.content-header > h1 > small, .page__header > h1 > small  {
  font-size: 15px;
  display: inline-block;
  padding-left: 4px;
  font-weight: 300;
}

.content, .page__body {
  min-height: 250px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}

.page__footer {
  width: 100%;
  border-top: 1px solid #d3dbe2;
  padding: 20px;
}


.page-section {
  @include make-row();

  &__content {

    @include make-xs-column(12);

    @include make-sm-column(12);

    @include make-md-column-offset(1);
    @include make-md-column(10);

    @include make-lg-column-offset(1);
    @include make-lg-column(10);


    &--wide{

      @include make-xs-column(12);
    }

    &--primary{
      @include make-md-column(7);
    }

    &--secondary{
      @include make-md-column(5);
    }

    &--half {
      @include make-md-column(6);
    }

  }
}






