// mixins


//border radius creator

@mixin border-radius-all($radius) {
  @include border-top-radius($radius);
  @include border-bottom-radius($radius);
}

//border radius creator
@mixin border-radius($radius) {
  border-radius: $radius;
}

//Different radius each side
@mixin border-radius($top-left, $top-right, $bottom-left, $bottom-right){
  border-top-left-radius: $top-left;
  border-top-right-radius: $top-right;
  border-bottom-right-radius: $bottom-right;
  border-bottom-left-radius: $bottom-left;
}

//Changes the color and the hovering properties of the navbar
@mixin navbar-variant($color, $font-color: rgba(255, 255, 255, 0.8), $hover-color: #f6f6f6, $hover-bg: rgba(0, 0, 0, 0.1)) {
  background-color: $color;
  //Navbar links
  .nav > li > a {
    color: $font-color;
  }

  .nav > li > a:hover,
  .nav > li > a:active,
  .nav > li > a:focus,
  .nav .open > a,
  .nav .open > a:hover,
  .nav .open > a:focus,
  .nav > .active > a {
    background: $hover-bg;
    color: $hover-color;
  }

  //Add color to the sidebar toggle button
  .sidebar-toggle {
    color: $font-color;
    &:hover {
      color: $hover-color;
      background: $hover-bg;
    }
  }
}


//Logo color variation
@mixin logo-variant($bg-color, $color: #fff, $border-bottom-color: transparent, $border-bottom-width: 0) {
  background-color: $bg-color;
  color: $color;
  border-bottom: $border-bottom-width solid $border-bottom-color;

  &:hover {
    background-color: darken($bg-color, 1%);
  }
}


// Button outline variant
//
// Default styles for outline button, as well as :hover, :focus, :active,

@mixin button-outline-variant($color) {
  color: $color;
  background-color: transparent;
  border-color: $color;

  &:focus,
  &.focus {
    color: #ffffff;
    background-color: $color;
    box-shadow: none;
  }
  &:hover {
    color: #ffffff;
    background-color: $color;
    box-shadow: none;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: #ffffff;
    background-color: $color;
    box-shadow: none;

    &:hover,
    &:focus,
    &.focus {
      color: #ffffff;
      background-color: $color;
      box-shadow: none;
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $color;
      box-shadow: none;
    }
  }
}
