---
layout: dashboard
title: Specific UI
---

<div class="page">


  <section class="page__body">

    <section id="alerts">
      {% include specific/alerts.html %}
    </section>


  </section>

</div>
