/*
 * Globals
 */

/*
 * Base structure
 */

.body--video-cover {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .5);

  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: cover;
}

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}

.masthead-nav > li + li {
  margin-left: 20px;
}

.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255, 255, 255, .75);
  border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255, 255, 255, .25);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}

.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255, 255, 255, .5);
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.section-heading {
  margin-bottom: 1.875em;
  text-align: center;

  &__headline {
    margin-bottom: 20px;

    font-size: 30px;
    font-weight: bold;
    color: #333;

    @media (min-width: $screen-sm-min) {
      font-size: 40px;
    }

  }

  &__subheadline {
    color: #a09696;
    margin: 0 auto 30px;
    font-size: 20px;

    @media (min-width: $screen-sm-min) {
      font-size: 24px;
    }

    @media (min-width: $screen-md-min) {
      width: 80%;
      font-size: 25px;
    }
  }

  &____action {
    text-align: center;
  }
}

.gallery-wrapper {
  padding: 50px;
}

.page-home {
  padding-top: 70px;
  font-family: 'Open Sans', sans-serif;
}

.page-home__first .section-heading {
  padding-top: 50px;
}

.page-home__featured-message {
  padding: 20px;
  background-color: #0c6bb5;
  color: #ffffff;
  font-size: 1.9em;
  font-weight: 200;
  text-align: center;
  @media (min-width: $screen-xs-min) {
    padding: 50px 30px;
  }

  @media (min-width: $screen-sm-min) {
    padding: 60px 100px;
  }

  @media (min-width: $screen-md-min) {
    padding: 80px 200px;
  }
}

/*
 * Home page benefits
 */

.page-home__benefits {
  margin: 100px auto;
}

.page-home__benefits-headline {
  width: 80%;
  max-width: 800px;
  padding: 0 10px 50px;
  text-align: center;
  margin: 0 auto 10px;
}

.page-home__benefit {
  text-align: center;
  font-size: 16px;
}

/*
 * Home page features
 */

.page-home__features {
  margin-bottom: 0;
  padding-top: 70px;
  padding-bottom: 40px;
  background-color: #e8eef1;
}

.page-home__feature {
  box-sizing: border-box;
  padding: 40px 30px;
  text-align: center;
  background-color: #ffffff !important;
  border-radius: 5px !important;
  margin-bottom: 10px;
}

.page-home__features-heading {
  text-align: center;
  margin-bottom: 60px;
}

.page-home__features-headline {
  width: 80%;
  max-width: 800px;
  padding: 0 10px 20px;
  margin: 0 auto;
  font-weight: bold;
}

.page-home__features-subheadline {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  @media (min-width: $screen-sm-min) {
    font-size: 22px;
  }
}

/*
 * Home page pricing
 */

.page-home__pricing {
  margin-bottom: 0px;
  padding-top: 70px;
  padding-bottom: 40px;
  background-color: #364459;
}

.page-home__pricing-headline {
  width: 80%;
  max-width: 800px;
  padding: 0 10px 50px;
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
  color: #f0f8ff;
}

.pricing-plan {
  box-sizing: border-box;
  padding: 40px 30px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 10px;

  @media only screen and (min-width: $screen-xs-min) {
    margin: 20px 80px;
  }

  @media only screen and (min-width: $screen-sm-min) {
    margin: 20px 150px;
  }

  @media only screen and (min-width: $screen-md-min) {
    margin: 0;
  }
}

.pricing-plan__type {
  padding: 10px 0;
  text-transform: uppercase;
}

.pricing-plan__price {
  padding: 10px 0;
  box-sizing: border-box !important;
  min-height: 17px;
}

.pricing-plan__currency, .pricing-plan__period {
  color: #6c848f;
}

.pricing-plan__amount {
  font-size: 52px;
  color: #343e49;
}


.pricing-plan__description {
  margin: 0 10px;
}

.page-home__pricing-start {
  color: #fff;
  text-align: center;
  margin-top: 35px;
}

/*
 * Home page footer
 */

.home-page__footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #2a2730;
  border-top: 1px solid #e5e5e5;
  p:last-child {
    margin-bottom: 0;
  }
}
