<h1>Alerts</h1>

<p class="lead">Provide contextual feedback messages for typical user actions with the handful of available and flexible
  alert messages.</p>

<h2>Standar alerts</h2>

<p>Wrap any text and an optional dismiss button in <code>.alert</code> and one of the four contextual classes (e.g.,
  <code>.alert-success</code>) for basic alert messages.</p>

<div class="alert alert-success" role="alert"><strong>Well done!</strong> You successfully read this important alert
  message.
</div>
<div class="alert alert-info" role="alert"><strong>Heads up!</strong> This alert needs your attention, but it's not
  super important.
</div>
<div class="alert alert-warning" role="alert"><strong>Warning!</strong> Better check yourself, you're not looking too
  good.
</div>
<div class="alert alert-danger" role="alert"><strong>Oh snap!</strong> Change a few things up and try submitting again.
</div>

<h2>Dismissible alerts</h2>

<p>Build on any alert by adding an optional .alert-dismissible and close button. This requires Javascript alert
  plugin.</p>


<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
  <strong>Warning!</strong> Better check yourself, you're not looking too good.
</div>
