---
layout: dashboard
title: Fluye docs
---

<!--Page-->
<div class="page">

  <section class="page__header">
    <h1>
      Page Header
      <small>Optional description</small>
    </h1>
  </section>

  <!-- Main content -->
  <section class="page__body">

    <!-- Your Page Content Here -->

  </section>
  <!-- // Main content -->

</div>
<!-- /. Page-->
