---
layout: auth
title: Signup
---

<p class="auth__message">Registrar una nueva cuenta</p>

<form action="#" method="post">
  <div class="form-group has-feedback">
    <input type="text" class="form-control" placeholder="Nombre">
    <span class="glyphicon glyphicon-user form-control-feedback"></span>
  </div>
  <div class="form-group has-feedback">
    <input type="email" class="form-control" placeholder="Email">
    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
  </div>
  <div class="form-group has-feedback">
    <input type="password" class="form-control" placeholder="Contraseña">
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Estoy de acuerdo con los <a href="#">términos y condiciones</a>
        </label>
      </div>
    </div>
    <div class="col-xs-4">
      <button type="submit" class="btn btn-primary btn-block btn-flat">Registrar</button>
    </div>
  </div>
</form>

<div class="text-center">
  <p>- o -</p>
</div>

<a href="signin.html" class="text-center">Ya tengo una cuenta</a>
