---
layout: auth
title: Signin
---

<p class="auth__message">Iniciar sesión</p>

<form action="#" method="post">

  <div class="form-group has-feedback">
    <input type="email" class="form-control" placeholder="Email">
    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
  </div>

  <div class="form-group has-feedback">
    <input type="password" class="form-control" placeholder="Contraseña">
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
  </div>

  <div class="row">
    <div class="col-xs-8">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Recordarme
        </label>
      </div>
    </div>
    <div class="col-xs-4">
      <button type="submit" class="btn btn-primary btn-block btn-flat">Acceder</button>
    </div>
  </div>

</form>

<div class="text-center">
  <p>- o -</p>
</div>

<a href="#">Recuperar contraseña</a><br>
<a href="signup.html" class="text-center">Registrar una nueva cuenta</a>
